<a href="https://colab.research.google.com/github/RFankhauser/MSc_WI_BINA/blob/main/Datensatz_Wetter_Sarah_F%C3%A4ssleripynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url_2022 = "https://raw.githubusercontent.com/RFankhauser/MSc_WI_BINA/main/Semesterarbeit/Wetter_Z%C3%BCrich_st%C3%BCndlich/ugz_ogd_meteo_h1_2022.csv"
# Falls ein BOM (Byte Order Mark) vorliegt, kann encoding='utf-8-sig' helfen:
df_2022 = pd.read_csv(url_2022, sep=';', low_memory=False, encoding='utf-8-sig')
# Entferne führende und nachfolgende Leerzeichen aus den Spaltennamen:
df_2022.columns = df_2022.columns.str.strip()
print("Spalten in df_2022:", df_2022.columns.tolist())

Spalten in df_2022: ['Datum,"Standort","Parameter","Intervall","Einheit","Wert","Status"']

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Optional: Seaborn-Stil setzen
sns.set(style="whitegrid")

# URLs der CSV-Dateien (Raw-Links)
url_2022 = "https://raw.githubusercontent.com/RFankhauser/MSc_WI_BINA/main/Semesterarbeit/Wetter_Z%C3%BCrich_st%C3%BCndlich/ugz_ogd_meteo_h1_2022.csv"
url_2023 = "https://raw.githubusercontent.com/RFankhauser/MSc_WI_BINA/main/Semesterarbeit/Wetter_Z%C3%BCrich_st%C3%BCndlich/ugz_ogd_meteo_h1_2023.csv"
url_2024 = "https://raw.githubusercontent.com/RFankhauser/MSc_WI_BINA/main/Semesterarbeit/Wetter_Z%C3%BCrich_st%C3%BCndlich/ugz_ogd_meteo_h1_2024.csv"

# CSV-Dateien einlesen: Verwende sep=",", da die Header-Zeile Komma-getrennt ist,
# und entferne überflüssige Leerzeichen in den Spaltennamen
# und parse die Spalte "Datum" als Datumsformat
df_2022 = pd.read_csv(url_2022, sep=',', low_memory=False, encoding='utf-8-sig', parse_dates=["Datum"])
df_2023 = pd.read_csv(url_2023, sep=',', low_memory=False, encoding='utf-8-sig', parse_dates=["Datum"])
df_2024 = pd.read_csv(url_2024, sep=',', low_memory=False, encoding='utf-8-sig', parse_dates=["Datum"])

# Kontrolle: Spaltennamen anzeigen
print("Spalten in df_2022:", df_2022.columns.tolist())
print(df_2022.head())

Spalten in df_2022: ['Datum', 'Standort', 'Parameter', 'Intervall', 'Einheit', 'Wert', 'Status']
                      Datum                 Standort Parameter Intervall  \
0 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse         T        h1
1 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse        Hr        h1
2 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse         p        h1
3 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse   RainDur        h1
4 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse    StrGlo        h1

                     Einheit    Wert     Status
0                gradcelsius    7.22  bereinigt
1  relative_Luftfeuchtigkeit   82.93  bereinigt
2                        hPa  977.20  bereinigt
3                        min    0.00  bereinigt
4                       W/m2    0.02  bereinigt

In [ ]:
#Alle Daten zusammenführen
df_all = pd.concat([df_2022, df_2023, df_2024])
df_all.sort_values("Datum", inplace=True)
df_all.reset_index(drop=True, inplace=True)

In [ ]:
#Überprüfen der Spaltennamen
print("Spalten:", df_2022.columns.tolist())
print("Spalten:", df_2023.columns.tolist())
print("Spalten:", df_2024.columns.tolist())

Spalten: ['Datum', 'Standort', 'Parameter', 'Intervall', 'Einheit', 'Wert', 'Status']
Spalten: ['Datum', 'Standort', 'Parameter', 'Intervall', 'Einheit', 'Wert', 'Status']
Spalten: ['Datum', 'Standort', 'Parameter', 'Intervall', 'Einheit', 'Wert', 'Status']

In [ ]:
#Überprüfen, ob fehlende Werte vorhanden sind
print("Fehlende Werte pro Spalte:\n", df_2022.isnull().sum())
print("Fehlende Werte pro Spalte:\n", df_2023.isnull().sum())
print("Fehlende Werte pro Spalte:\n", df_2024.isnull().sum())

Fehlende Werte pro Spalte:
 Datum          0
Standort       0
Parameter      0
Intervall      0
Einheit        0
Wert         794
Status         0
dtype: int64
Fehlende Werte pro Spalte:
 Datum           0
Standort        0
Parameter       0
Intervall       0
Einheit         0
Wert         2688
Status          0
dtype: int64
Fehlende Werte pro Spalte:
 Datum           0
Standort        0
Parameter       0
Intervall       0
Einheit         0
Wert         8022
Status          0
dtype: int64

In [44]:
# Falls df_all noch nicht existiert, zusammenführen:
df_all = pd.concat([df_2022, df_2023, df_2024])
df_all.reset_index(drop=True, inplace=True)

In [45]:
print("Aktuelle Spalten in df_all:", df_all.columns.tolist())

Aktuelle Spalten in df_all: ['Datum', 'Standort', 'Parameter', 'Intervall', 'Einheit', 'Wert', 'Status']

In [46]:
# Entferne überflüssige Leerzeichen und passe die Groß-/Kleinschreibung an:
df_all.columns = df_all.columns.str.strip()

In [47]:
# Definiere die relevanten Parameter und ihre erwarteten Einheiten
relevante_parameter = {
    "T": "gradcelsius",
    "WVs": "m/s",
    "RainDur": "min",
    "StrGlo": "W/m2"
}

# Filtere den DataFrame, sodass nur die Zeilen mit den gewünschten Parametern und Einheiten beibehalten werden.
df_clean = df_all[
    df_all.apply(
        lambda row: row["Parameter"] in relevante_parameter and row["Einheit"] == relevante_parameter[row["Parameter"]],
        axis=1
    )
].copy()

print("Erste Zeilen des gefilterten DataFrames:")
print(df_clean.head())

Erste Zeilen des gefilterten DataFrames:
                      Datum                 Standort Parameter Intervall  \
0 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse         T        h1
3 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse   RainDur        h1
4 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse    StrGlo        h1
7 2022-01-01 00:00:00+01:00  Zch_Stampfenbachstrasse       WVs        h1
8 2022-01-01 00:00:00+01:00      Zch_Schimmelstrasse         T        h1

       Einheit  Wert     Status
0  gradcelsius  7.22  bereinigt
3          min  0.00  bereinigt
4         W/m2  0.02  bereinigt
7          m/s  1.16  bereinigt
8  gradcelsius  5.96  bereinigt

In [48]:
# Überprüfen, ob es fehlende Werte im gefilterten DataFrame gibt
fehlende_werte = df_clean.isnull().sum()
print("Fehlende Werte pro Spalte:")
print(fehlende_werte)

Fehlende Werte pro Spalte:
Datum           0
Standort        0
Parameter       0
Intervall       0
Einheit         0
Wert         4426
Status          0
dtype: int64

In [49]:
print("Fehlende Werte in 'RainDur':", df_clean[df_clean["Parameter"]=="RainDur"]["Wert"].isnull().sum())

Fehlende Werte in 'RainDur': 1588

In [50]:
# Filtere die Zeilen, in denen der Parameter "RainDur" ist und der "Wert" fehlt (NaN)
rainDur_missing = df_clean[(df_clean["Parameter"] == "RainDur") & (df_clean["Wert"].isnull())]

# Zeige die betroffenen Zeilen an
print(rainDur_missing)

                           Datum                 Standort Parameter Intervall  \
10754  2022-01-21 08:00:00+01:00   Zch_Rosengartenstrasse   RainDur        h1
10776  2022-01-21 09:00:00+01:00   Zch_Rosengartenstrasse   RainDur        h1
54593  2022-04-14 09:00:00+01:00      Zch_Schimmelstrasse   RainDur        h1
95285  2022-06-30 11:00:00+01:00  Zch_Stampfenbachstrasse   RainDur        h1
140151 2022-09-23 10:00:00+01:00      Zch_Schimmelstrasse   RainDur        h1
...                          ...                      ...       ...       ...
527622 2024-09-26 06:00:00+01:00   Zch_Rosengartenstrasse   RainDur        h1
527644 2024-09-26 07:00:00+01:00   Zch_Rosengartenstrasse   RainDur        h1
560541 2024-11-27 15:00:00+01:00  Zch_Stampfenbachstrasse   RainDur        h1
560563 2024-11-27 16:00:00+01:00  Zch_Stampfenbachstrasse   RainDur        h1
560585 2024-11-27 17:00:00+01:00  Zch_Stampfenbachstrasse   RainDur        h1

       Einheit  Wert        Status
10754      min   NaN     bereinigt
10776      min   NaN     bereinigt
54593      min   NaN     bereinigt
95285      min   NaN     bereinigt
140151     min   NaN     bereinigt
...        ...   ...           ...
527622     min   NaN  provisorisch
527644     min   NaN  provisorisch
560541     min   NaN  provisorisch
560563     min   NaN  provisorisch
560585     min   NaN  provisorisch

[1588 rows x 7 columns]

In [51]:
# Filtere zunächst alle Zeilen, in denen der Parameter "RainDur" ist
rainDur_df = df_clean[df_clean["Parameter"] == "RainDur"]

# Anzahl der NaN-Werte in der Spalte "Wert"
nan_count = rainDur_df["Wert"].isnull().sum()
print("Anzahl NaN in 'Wert':", nan_count)

# Anzahl der Zeilen, in denen 'Wert' exakt 0 ist
zero_count = (rainDur_df["Wert"] == 0).sum()
print("Anzahl 0 in 'Wert':", zero_count)

Anzahl NaN in 'Wert': 1588
Anzahl 0 in 'Wert': 61965

In [52]:
#Bereinigung der NaN in 'Wert'

df_clean.loc[df_clean["Parameter"] == "RainDur", "Wert"] = df_clean.loc[df_clean["Parameter"] == "RainDur", "Wert"].fillna(0)

In [53]:
# Filtere zunächst alle Zeilen, in denen der Parameter "RainDur" ist
rainDur_df = df_clean[df_clean["Parameter"] == "RainDur"]

# Anzahl der NaN-Werte in der Spalte "Wert"
nan_count = rainDur_df["Wert"].isnull().sum()
print("Anzahl NaN in 'Wert':", nan_count)

# Anzahl der Zeilen, in denen 'Wert' exakt 0 ist
zero_count = (rainDur_df["Wert"] == 0).sum()
print("Anzahl 0 in 'Wert':", zero_count)

Anzahl NaN in 'Wert': 0
Anzahl 0 in 'Wert': 63553

In [54]:
# Für jeden Parameter prüfen, wie viele NaN und 0 in der Spalte "Wert" vorhanden sind
for param in df_clean["Parameter"].unique():
    subset = df_clean[df_clean["Parameter"] == param]
    total_count = len(subset)
    nan_count = subset["Wert"].isnull().sum()
    zero_count = (subset["Wert"] == 0).sum()
    einheit = subset["Einheit"].iloc[0] if not subset["Einheit"].empty else "keine Einheit"
    print(f"Parameter: {param} (Einheit: {einheit})")
    print(f"  Gesamtanzahl Zeilen: {total_count}")
    print(f"  NaN: {nan_count} ({nan_count/total_count*100:.2f}%)")
    print(f"  0-Werte: {zero_count} ({zero_count/total_count*100:.2f}%)\n")

Parameter: T (Einheit: gradcelsius)
  Gesamtanzahl Zeilen: 78909
  NaN: 1326 (1.68%)
  0-Werte: 13 (0.02%)

Parameter: RainDur (Einheit: min)
  Gesamtanzahl Zeilen: 78909
  NaN: 0 (0.00%)
  0-Werte: 63553 (80.54%)

Parameter: StrGlo (Einheit: W/m2)
  Gesamtanzahl Zeilen: 26303
  NaN: 29 (0.11%)
  0-Werte: 0 (0.00%)

Parameter: WVs (Einheit: m/s)
  Gesamtanzahl Zeilen: 78909
  NaN: 1483 (1.88%)
  0-Werte: 0 (0.00%)